.username-on-navbar {
    color:darkgray;
}
.user-icon {
    margin-top: -0.5rem;
    color: darkgray;
    border: none;
    height: 2.1rem;
    background-color: transparent;
    margin-left: 1rem;
    border-radius: 10px;
}
.user-icon:hover {
    border: none !important;
    background-color: lightgrey !important;
    box-shadow: none !important;
    outline: none !important;
}